body {
    width: 100vw;
    font-family: sans-serif;
}

.logo {
    height: 25px;
    font-weight: 400;
    margin-top: 3vh;
}
.logo-section {
    display: flex;
    gap: 5px;
    p{
        margin-top: 30px;
    }
}
header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 10;
   display: flex;
   justify-content: space-between;
   padding: 0px 50px;
   background-color: #2e2827;
}
header #getstarted-button {
   height: 50px;
   padding: 10px;
   margin-bottom: 10px;
}

#header-list {
    display: flex;
    list-style: none;
    gap: 5vw;

    li {
        margin-top: 15px;
    }
}

#login-link {
    margin-top: 4vh;
    text-decoration: none;
    color: white;
}

#getstarted-button {
    height: 60px;
    margin-top: 3vh;
    margin-left: 5vh;
    padding: 30px;
    padding-top: 20px;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: 1px solid white;
}

/* first section start */
#first-section {
    width: 100vw;
    height: 100vh;
    color: white;
}

.designedtosell-divison {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-wrap: wrap;
    gap: 30px;
    position: absolute;
    top: 10vh;
    left: 3vw;
    h1 {
        height: 5%;
        font-style: normal;
        font-weight: 400;
        font-size: 5rem;
        margin-top: 200px;
    }

    p {
        font-size: 1.5rem;
        color: gray;
        font-weight: 600;
    }
}

/*domain-name-section */
#domain-name-section {
    width: 100vw;
    height: 30vh;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 3rem;
        width: 30vw;
        padding-left: 30px;
    }
}


#inner-domain {
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    a {
        color: black;
    }

    #fa-search {
        position: relative;
        color: black;
        top: 22px;
        right: 550px;
    }
}

#domain-search {
    width: 500px;
    height: 60px;
    border: 1px solid white;
    padding-left: 40px;
}

#domain-search-button {
    width: 110px;
    height: 60px;
    background-color: black;
    color: white;
}

/* white-section */
#white-section {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 120vh;
    /* border: 1px solid black; */
    justify-content: space-around;
    align-content: space-around;

    div {
        width: 40vw;
    }

    #first-div {
        font-size: 3.5rem;
    }

    #second-div {
        font-size: 1rem;
        margin-top: 20px;
    }
}

#explore-button {
    width: 250px;
    height: 50px;
    padding: 10px;
    background-color: white;
    border: 3px solid #EDEDED;
}

#third-div {
    span {
        display: block;
        font-size: 2rem;
        margin: 20px;
    }
}

#fourth-div {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        animation: slide 4s infinite;
        animation-delay: 2s;
    }



    #img1 {
        z-index: 1;
        width: 100%;
        height: 100%;
        animation: first-image;
        animation-duration: 4s;
    }


    #img2 {
        z-index: 2;
        width: 100%;
        height: 100%;
        animation: second-image;
        animation-duration: 4s;
    }

    #img3 {
        z-index: 3;
        width: 100%;
        height: 100%;
        animation: third-image;
        animation-duration: 4s;
    }

    #img4 {
        z-index: 4;
        width: 100%;
        height: 100%;
        animation: fourth-image;
        animation-duration: 4s;
    }

    @keyframes first-image {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes second-image {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes third-image {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes fourth-image {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 0;
        }
    }

}

/* brown-section */
#brown-section {
    width: 100vw;
    height: 650vh;
    background-color: #2e2827;
    color: white;
}

#heading-para {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;


    h1 {
        width: 60vw;
        font-size: 10rem;
        margin-left: 50px;
    }

    p {
        width: 40vw;
        font-size: 4rem;
        margin-top: 10px;
        margin-left: 50px;
    }

    img {
        margin: 40px;
    }
}

/* grid-section */
#grid-section {
    width: 100vw;
    height: 300vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 40vh 40vh 120vh 40vh 70vh 70vh;
}

#tools {
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 4rem;
    margin-left: 40px;
    width: 90vh;
    font-weight: 0;
}

#tools-image {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 40px;
}

#power {
    font-size: 2rem;
    margin-left: 40px;
}

#schedule {
    font-size: 2rem;
    margin-left: 40px;
}

#everything {

    p {
        font-size: 1rem;
        width: 70%;
    }
}

#take-the-hassle {
    p {
        font-size: 1rem;
        width: 75%;
    }
}

.button {
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #abaaaa;
    color: white;
    font-weight: 600;
    transition: background-color 0.8s ease;
}
.button:hover {
  background-color: white;
  color: black;
}


#create-courses {
    h6 {
        font-size: 1.8rem;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    p {
        margin-top: 0px;
        width: 70%;
        margin-left: 40px;
        font-size: 1rem;
    }

    button {
        margin: 40px;
    }
}

#invoice-video {
    margin-left: 40px;
}

#invoice-div {
    h6 {
        font-size: 1.8rem;
        margin-left: 40px;
        margin-bottom: 20px;
    }

    p {
        margin-top: 0px;
        width: 70%;
        margin-left: 40px;
        font-size: 1rem;
    }

    button {
        margin: 40px;
        width: 300px;
    }
}

#market-business-section {
    background-color: #d0cce0;
    padding-top: 30px;
    width: 100vw;
    height: 190vh;


    h3 {
        font-size: 9rem;
        width: 70vw;
        font-weight: 0;
        margin-left: 40px;
    }

}

#market-business-div {
    display: flex;
}

#market-content {
    padding-top: 0px;
    margin-top: 0px;

    h6,
    p {
        font-size: 1rem;
        margin-left: 40px;
        width: 60%;
        margin-bottom: 40px;

    }

    h6 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    p {
        color: rgb(62, 61, 61);
    }

    button {
        width: 250px;
        height: 60px;
        padding: 10px;
        margin-left: 40px;
        background-color: transparent;
        border: 3px solid grey;
    }

}

#market-business-image {
    margin-right: 60px;
}

/* modern solutions */
#modern-solutions {
    background-color: #e8e4e4;
    padding-top: 20px;

    h1 {
        font-size: 9rem;
        width: 60%;
        margin-left: 40px;
    }

    p {
        font-size: 2.5rem;
        margin-left: 40px;
        width: 40%;
    }

}

#modern-image-div {
    width: 94vw;
    height: fit-content;
    display: flex;
    overflow-x: scroll;
    padding: 40px;

}

/* ::-webkit-scrollbar-track {
    background: gray;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar {
    height: 5px;
    margin: 40px;
    border-radius: 10px;
} */